body{
    background-color:#494949;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

.brand-logo{
    font-family: 'Pacifico', cursive;
}

.nav-wrapper {
    background-color:#3f3f3f !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 5px;
  }